body{
    background-color: #FFE4E1
}
h1{SULMANG
color:#FA8072;
font-family:justify;
background:
text-align:center
}

p{
    color:black;
    font-family:justify;
    font-size:30px;
    background:
}